CONFIG_XIP=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# Serial driver options
CONFIG_SERIAL=y

# GPIO driver options
CONFIG_GPIO=n

# Syscon driver options
CONFIG_SYSCON=n

# hwinfo driver options
CONFIG_HWINFO=n
CONFIG_HWINFO_ANDES=n

# FPU (single precision) options
#CONFIG_FPU=y
#CONFIG_FPU_SHARING=y
#CONFIG_FLOAT_HARD=y
#CONFIG_SINGLE_PRECISION_FPU=y

# FPU (double precision) options
#CONFIG_FPU=y
#CONFIG_FPU_SHARING=y
#CONFIG_FLOAT_HARD=y
#CONFIG_DOUBLE_PRECISION_FPU=y

# HW DSP options
#CONFIG_SOC_ANDES_V5_HWDSP=y

# EXEC.IT options
# CONFIG_SOC_ANDES_V5_EXECIT=y

# Sys Clock HW Cycles for Virgo Proto used by mtimer
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=13333333

# Enabling the SPI Peripheral
CONFIG_SPI=n
CONFIG_SPI_NOR=n

# Enabling the Crypto Peripheral
CONFIG_CRYPTO=n
CONFIG_PUFCC_SECURITY=n
CONFIG_CRYPTO_PUF_SECURITY=n
CONFIG_CRYPTO_PUF_SECURITY_OTP=n

# Enabling the DMA Peripheral
CONFIG_DMA=n
CONFIG_DMA_ANDES_ATCDMAC100=n

# Enabling the SPI and Flash Peripheral
CONFIG_FLASH=n
CONFIG_SPI_NOR_SFDP_DEVICETREE=n
CONFIG_SPI_ANDES_ATCSPI200=n
CONFIG_ANDES_SPI_DMA_MODE=n

# Enabling the Counter Peripheral
CONFIG_COUNTER=n
CONFIG_COUNTER_ANDES_ATCPIT100=n

# Enabling the Sensor Peripheral
CONFIG_SENSOR=n
CONFIG_DTI_PVT=n

# Enable Rapid Silicon Specific IPs
CONFIG_RAPIDSI_OFE=y

# Enable Rapid Silicon Pin Controller
CONFIG_PINCTRL=y
CONFIG_PINCTRL_RAPIDSI=y

# Enable FPGA Bitstream loading functionality
CONFIG_FPGA=n
CONFIG_RS_FPGA=n
CONFIG_RS_FPGA_FCB=n
CONFIG_RS_FPGA_ICB=n
CONFIG_RS_FPGA_PCB=n

CONFIG_RISCV_VECTORED_MODE=n
CONFIG_RISCV_TRAP_HANDLER_ALIGNMENT=64

CONFIG_TRACING=y
CONFIG_PERCEPIO_TRACERECORDER=y
CONFIG_PERCEPIO_TRC_START_MODE_START=y
CONFIG_PERCEPIO_TRC_CFG_STREAM_PORT_RINGBUFFER=y
CONFIG_PERCEPIO_TRC_CFG_STREAM_PORT_RINGBUFFER_SIZE=8092